<ion-content [fullscreen]="true">
  <ion-card class="title-box">
    <ion-title size="large" color="secondary">Lista pizzas</ion-title>
  </ion-card>

  <div class="grid-container">
    @for (pizza of productos; track $index) {
    <ion-card>
      <div>
        <img [src]="pizza.imagen_url" />
      </div>
      <div>
        <h5>S/ {{pizza.familiar}}.00</h5>
        <h4>{{pizza.nombre}}</h4>
      </div>
      <div>
        <ion-button color="secondary" (click)="setRouter(pizza.id)"
          >Detalles</ion-button
        >
      </div>
    </ion-card>
    }
  </div>
</ion-content>
