<ion-content [fullscreen]="true">
  <ion-card>
    <div class="busqueda-box">
      <ion-searchbar [(ngModel)]="nombreBusqueda"></ion-searchbar>
      <ion-button (click)="buscar()"> buscar </ion-button>
    </div>
  </ion-card>

  <div class="grid-container">
    @for (pizza of productos; track $index) {
    <ion-card>
      <div>
        <img [src]="pizza.imagen_url" />
      </div>
      <div>
        <h4>{{pizza.nombre}}</h4>
        <p>{{pizza.precio ? pizza.precio : pizza.familiar}}</p>
      </div>
      <div>
        @if (pizza.personal) {
        <ion-button color="secondary" (click)="setRouterBebida(pizza.id)"
          >Detalles</ion-button
        >
        } @else {
        <ion-button color="secondary" (click)="setRouter(pizza.id)"
          >Detalles</ion-button
        >
        }
      </div>
    </ion-card>
    }
  </div>
</ion-content>
